<!DOCTYPE html>
<html>

<head>
    <title>Create</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <div class="header-inner">
            <div class="logo">Minerva Exchange</div>
        </div>
    </header>
    <div class="container">
        <h2>List an Item</h2>
        <form class="card">
            <label>Photo</label><input type="file">
            <label>Item Name</label><input placeholder="Microwave">
            <label>Category</label><select>
                <option>Appliance</option>
            </select>
            <label>Price</label><input placeholder="2000 or Free">
            <label>Pickup By</label><input type="date">
            <button class="btn-primary" style="margin-top:20px;">Post Listing</button>
        </form>
    </div>
</body>

</html>